<h3>Contact Details</h3>
<div class="row">
  <div class="col-sm-4">Name</div>
  <div class="col-sm-8">
    {{ contact.gender==='Male' ? 'Mr.' : 'Ms.'}}
    {{ contact.firstname }} {{ contact.lastname }}</div>
</div>
<div class="row">
  <div class="col-sm-4">Date of birth</div>
  <div class="col-sm-8">{{ contact.dob}}</div>
</div>
<div class="row">
  <div class="col-sm-4">Email address</div>
  <div class="col-sm-8">{{ contact.email }}</div>
</div>
<div class="row">
  <div class="col-sm-4">Phone number</div>
  <div class="col-sm-8">{{ contact.phone }}</div>
</div>

<div class="row">
  <div class="col-sm-4">City</div>
  <div class="col-sm-8">{{ contact.city | uppercase }}</div>
</div>
<div class="row">
  <div class="col-sm-4">State</div>
  <div class="col-sm-8">{{ contact.state | uppercase }}</div>
</div>
<div class="row">
  <div class="col-sm-4">Country</div>
  <div class="col-sm-8">{{ contact.country }}</div>
</div>